<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/FoodItem.jpg" alt="FoodItem" onclick="SetDropDownValue('FoodItems')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Furniture.jpg" alt="Furniture" onclick="SetDropDownValue('Furniture')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/ElectronicAppliance.jpg" alt="HomeElectronicAppliance" onclick="SetDropDownValue('HomeElectronicAppliance')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Stationary.jpg" alt="Stationary" onclick="SetDropDownValue('Stationary')">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Clothes.jpg" alt="Clothes" onclick="SetDropDownValue('Clothes')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Toy.jpg" alt="Toys" onclick="SetDropDownValue('Toys')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Books.jpg" alt="Books" onclick="SetDropDownValue('Books')">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <img src="~/images/Other.jpg" alt="Other" onclick="SetDropDownValue('Other')">
            </a>
        </div>
    </div>
</div>