@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/JS")
@Scripts.Render("~/Scripts/JS/HomePage.js")
@Styles.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/CSS/SharedCSS")

<a href="#">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">

                <img class="img-responsive" src="~/Images/tile1.jpg" />
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <span class="pull-left caption">Post item for Giveaway</span>

        <div class="clearfix"></div>
    </div>
</a>


